<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleDevelopmentRegion</key>
  <string>en</string>
  <key>CFBundleExecutable</key>
  <string>Akshara</string>
  <key>CFBundleIdentifier</key>
  <string>com.local.inputmethod.Akshara</string>
  <key>CFBundleInfoDictionaryVersion</key>
  <string>6.0</string>
  <key>CFBundleName</key>
  <string>Akshara</string>
  <key>CFBundleDisplayName</key>
  <string>Akshara</string>
  <key>CFBundleIconFile</key>
  <string>Akshara.icns</string>
  <key>CFBundlePackageType</key>
  <string>APPL</string>
  <key>CFBundleShortVersionString</key>
  <string>0.1.0</string>
  <key>CFBundleVersion</key>
  <string>1</string>
  <key>NSHumanReadableCopyright</key>
  <string>Copyright © 2026 Lahiru Himesh Madusanka Siddha Dewayala Gedara. Released under the MIT License.</string>
  <key>LSBackgroundOnly</key>
  <string>1</string>
  <key>LSMinimumSystemVersion</key>
  <string>12.0</string>
  <key>NSPrincipalClass</key>
  <string>NSApplication</string>
  <key>InputMethodConnectionName</key>
  <string>Akshara_Connection</string>
  <key>InputMethodServerControllerClass</key>
  <string>SinhalaInputController</string>
  <key>tsInputMethodCharacterRepertoireKey</key>
  <array>
    <string>Latn</string>
  </array>
  <key>tsInputMethodLocalizedNameKey</key>
  <string>Akshara</string>
  <key>tsInputMethodIconFileKey</key>
  <string>AksharaMenu.tif</string>
  <key>ComponentInputModeDict</key>
  <dict>
    <key>tsInputModeListKey</key>
    <dict>
      <key>com.local.inputmethod.Akshara.Phonetic</key>
      <dict>
        <key>TISInputSourceID</key>
        <string>com.local.inputmethod.Akshara.Phonetic</string>
        <key>TISIntendedLanguage</key>
        <string>si</string>
        <key>tsInputModeDefaultStateKey</key>
        <true/>
        <key>tsInputModeMenuIconFileKey</key>
        <string>AksharaMenu.tif</string>
        <key>tsInputModeAlternateMenuIconFileKey</key>
        <string>AksharaMenu.tif</string>
        <key>tsInputModePaletteIconFileKey</key>
        <string>AksharaMenu.tif</string>
        <key>tsInputModeIsVisibleKey</key>
        <true/>
        <key>tsInputModePrimaryInScriptKey</key>
        <true/>
        <key>tsInputModeScriptKey</key>
        <string>smUnicodeScript</string>
      </dict>
      <key>com.local.inputmethod.Akshara.SLS1134</key>
      <dict>
        <key>TISInputSourceID</key>
        <string>com.local.inputmethod.Akshara.SLS1134</string>
        <key>TISIntendedLanguage</key>
        <string>si</string>
        <key>tsInputModeDefaultStateKey</key>
        <true/>
        <key>tsInputModeMenuIconFileKey</key>
        <string>AksharaMenu.tif</string>
        <key>tsInputModeAlternateMenuIconFileKey</key>
        <string>AksharaMenu.tif</string>
        <key>tsInputModePaletteIconFileKey</key>
        <string>AksharaMenu.tif</string>
        <key>tsInputModeIsVisibleKey</key>
        <true/>
        <key>tsInputModePrimaryInScriptKey</key>
        <true/>
        <key>tsInputModeScriptKey</key>
        <string>smUnicodeScript</string>
      </dict>
    </dict>
    <key>tsVisibleInputModeOrderedArrayKey</key>
    <array>
      <string>com.local.inputmethod.Akshara.Phonetic</string>
      <string>com.local.inputmethod.Akshara.SLS1134</string>
    </array>
  </dict>
</dict>
</plist>
