<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Akshara</string>
	<key>CFBundleExecutable</key>
	<string>Akshara</string>
	<key>CFBundleIconFile</key>
	<string>Akshara.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.local.inputmethod.Akshara</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Akshara</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.1.11</string>
	<key>CFBundleVersion</key>
	<string>11</string>
	<key>ComponentInputModeDict</key>
	<dict>
		<key>tsInputModeListKey</key>
		<dict>
			<key>com.local.inputmethod.Akshara.Phonetic</key>
			<dict>
				<key>TISInputSourceID</key>
				<string>com.local.inputmethod.Akshara.Phonetic</string>
				<key>TISIconIsTemplate</key>
				<true/>
				<key>TISIntendedLanguage</key>
				<string>si</string>
				<key>tsInputModeAlternateMenuIconFileKey</key>
				<string>AksharaMenuWhite.tif</string>
				<key>tsInputModeDefaultStateKey</key>
				<true/>
				<key>tsInputModeIsVisibleKey</key>
				<true/>
				<key>tsInputModeMenuIconFileKey</key>
				<string>AksharaMenu.tif</string>
				<key>tsInputModePaletteIconFileKey</key>
				<string>AksharaMenu.tif</string>
				<key>tsInputModePrimaryInScriptKey</key>
				<true/>
				<key>tsInputModeScriptKey</key>
				<string>smUnicodeScript</string>
			</dict>
			<key>com.local.inputmethod.Akshara.SLS1134</key>
			<dict>
				<key>TISInputSourceID</key>
				<string>com.local.inputmethod.Akshara.SLS1134</string>
				<key>TISIconIsTemplate</key>
				<true/>
				<key>TISIntendedLanguage</key>
				<string>si</string>
				<key>tsInputModeAlternateMenuIconFileKey</key>
				<string>AksharaMenuWhite.tif</string>
				<key>tsInputModeDefaultStateKey</key>
				<true/>
				<key>tsInputModeIsVisibleKey</key>
				<true/>
				<key>tsInputModeMenuIconFileKey</key>
				<string>AksharaMenu.tif</string>
				<key>tsInputModePaletteIconFileKey</key>
				<string>AksharaMenu.tif</string>
				<key>tsInputModePrimaryInScriptKey</key>
				<true/>
				<key>tsInputModeScriptKey</key>
				<string>smUnicodeScript</string>
			</dict>
			<key>com.local.inputmethod.Akshara.SmartPhonetic</key>
			<dict>
				<key>TISInputSourceID</key>
				<string>com.local.inputmethod.Akshara.SmartPhonetic</string>
				<key>TISIconIsTemplate</key>
				<true/>
				<key>TISIntendedLanguage</key>
				<string>si</string>
				<key>tsInputModeAlternateMenuIconFileKey</key>
				<string>AksharaMenuWhite.tif</string>
				<key>tsInputModeDefaultStateKey</key>
				<true/>
				<key>tsInputModeIsVisibleKey</key>
				<true/>
				<key>tsInputModeMenuIconFileKey</key>
				<string>AksharaMenu.tif</string>
				<key>tsInputModePaletteIconFileKey</key>
				<string>AksharaMenu.tif</string>
				<key>tsInputModePrimaryInScriptKey</key>
				<true/>
				<key>tsInputModeScriptKey</key>
				<string>smUnicodeScript</string>
			</dict>
		</dict>
		<key>tsVisibleInputModeOrderedArrayKey</key>
		<array>
			<string>com.local.inputmethod.Akshara.Phonetic</string>
			<string>com.local.inputmethod.Akshara.SmartPhonetic</string>
			<string>com.local.inputmethod.Akshara.SLS1134</string>
		</array>
	</dict>
	<key>InputMethodConnectionName</key>
	<string>Akshara_Connection</string>
	<key>TISIconIsTemplate</key>
	<true/>
	<key>InputMethodServerControllerClass</key>
	<string>SinhalaInputController</string>
	<!-- An input method should stay out of the Dock, but help and setup windows
	     still need to be activatable. LSBackgroundOnly forbids creating windows. -->
	<key>LSUIElement</key>
	<true/>
	<key>LSMinimumSystemVersion</key>
	<string>12.0</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2026 Lahiru Himesh Madusanka Siddha Dewayala Gedara. Released under the MIT License.</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>tsInputMethodCharacterRepertoireKey</key>
	<array>
		<string>Latn</string>
	</array>
	<key>tsInputMethodIconFileKey</key>
	<string>AksharaMenu.tif</string>
	<key>tsInputMethodAlternateIconFileKey</key>
	<string>AksharaMenuWhite.tif</string>
	<key>tsInputMethodLocalizedNameKey</key>
	<string>Akshara</string>
</dict>
</plist>
